@font-face {
    font-family: FarsiFont;
    src: url("/fonts/persian/IRANYekanWeb.eot");
    src: url("/fonts/persian/IRANYekanWeb.ttf");
    src: url("/fonts/persian/IRANYekanWeb.woff");
    src: url("/fonts/persian/IRANYekanWeb.woff2");
  }