@import url("./styles/head.css");
@import url("./styles/settings.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  box-sizing: border-box;
  color: var(--foreground);
  background: var(--background);
  font-family: FarsiFont,Arial, Helvetica, sans-serif;
}
